name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  windows:
    defaults:
      run:
        shell: cmd
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2016
          - windows-2019
          - windows-2022

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Check codecov uploader SHASUM
        shell: powershell
        run: ci\codecov.ps1
